body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.event {
  background-color: #dedede;
  font-weight: bold;
  text-align: left;
  padding: 5px 20px;
  margin-bottom: 20px;
  clear: both;
}
.wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.closeBtn {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}
